{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <h1>Contact Us Details</h1>
    {% if contact %}
        <table class="table table-bordered">
            <tr>
                <th>First Name</th>
                <td>{{ contact.first_name }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ contact.last_name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ contact.subject }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ contact.message }}</td>
            </tr>
        </table>
        <a href="{% url 'couplers:connect_list' %}" class="btn btn-secondary">Back to Contact List</a>
    {% else %}
        <p>No contact data available.</p>
    {% endif %}
</div>

{% endblock content %}