{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> Scholar Byte </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Scholarbyte Landing Template" />
    <meta name="keywords"
        content="ERP, school ERP,college ERP, student management, academic records, attendance tracking, timetable, examination, fees management, library management, parent portal">
    <meta content="schloarbyte" name="Scholar Byte" />

    

    <!--* favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
    <!--* WOW Animation -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/animate-new.css' %}">
    <!--* Bootstrap css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Slick Slider -->
    <link href="{% static 'assets/css/slick.css' %}" rel="stylesheet" type="text/css" />
    <!--* Icons -->
    <link href="{% static 'assets/css/materialdesignicons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/line-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome-new.min.css' %}">
    <!--* Main css File -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/index-styles.css' %}">
    <link href="{% static 'assets/css/default-color.css' %}" rel="stylesheet" type="text/css" id="theme-color" />

    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    

</head>

<body>
    <!--* box-wrapper -->
    <div class="box-wrapper">
        <!--* Loader -->
        <div id="preloader">
            <div id="status">
                <div class="d-loader">
                    <img src={% static 'assets/images/dcode-loader.gif' %} alt="schloarbyte" class="img-fluid">
                </div>
            </div>
        </div>
        <!--* Loader -->
        <!--* Nav Bar -->
        <header id="master-head" class="navbar menu-absolute menu-center menu-light">
            <div class="container-fluid">
                <div id="main-logo" class="logo-container">
                    <a class="logo" href="#">
                        <img src="{% static 'assets/images/logo_rama.png' %}" class="logo-light img-fluid" alt="scholarByte">
                    </a>
                </div>
                <div class="menu-toggle-btn">
                    <!--* Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="burger-lines">
                        </div>
                    </a>
                    <!--* End mobile menu toggle-->
                </div>
                <div id="navigation" class="nav navbar-nav navbar-main">
                    <ul id="main-menu" class="menu-primary">
                        <li class="menu-item active">
                            <a href="#home">Home</a>
                        </li>
                        <li class="menu-item">
                            <a href="#about">About</a>
                        </li>
                       
                        <li class="menu-item">
                            <a href="#modules">Modules</a>
                        </li>
                        <li class="menu-item">
                            <a href="#team">Team</a>
                        </li>
                        <li class="menu-item">
                            <a href="#contact">Contact</a>
                        </li>

                    </ul>
                </div>
            </div>
        </header>
        <!--* Nav Bar -->
        <!--* Main Wrapper -->
        <div id="main-wrapper" class="page-wrapper">
            <!--* Start Page Header -->
            <div class="page-header section-padding style-dark full-height dc-two pb-0">
                <div class="container-fluid">
                    <div class="row px-lg-5">
                        <div class="col-lg-5">
                            {% if banner_text %}
                            <div class="heading-wrapper wow fadeInDown" data-wow-delay="0.8s">
                                

                                <h1><span>{{banner_text.heading}}</span></h1>
                                <div class="lead-text">
                                    <p>{{banner_text.sub_heading}}</p>
                                </div>
                                
                            </div>
                            {% endif %}
                            <div class="btn-wrapper pt-5">
                                <a class="btn btn-primary btn-light " href="#">try for free</a>
                                <a class="btn btn-outline-primary btn-light" href="#"><i
                                        class="fas fa-play-circle"></i>watch video</a>
                            </div>
                            <div class="clearfix"></div>
                        </div><!--* End Col -->
                        <div class="col-lg-7">
                            <div class="ss-wrapper wow fadeInUp" data-wow-delay="1.5s">
                                <img class="laptop-img-bg img-fluid" src="{% static 'assets/images/laptop-screen.png' %}" alt="" />
                                
                                {% if bannerslider %}
                                <div class="screenshot-slider text-center">
                                    {% for slider in bannerslider %}
                                    <div class="item">
                                        <img src="{{slider.banner_image.url}}" alt="{{slider.name}}" class="img-fluid">
                                    </div>
                                    {% endfor %}
                                   
                                </div>
                                
                                {% endif %}
                            </div>
                        </div><!--* End Col -->
                    </div><!--* End Row -->
                </div>
            </div>
            <!--* End Page Header -->
            <!--* Start About Section -->
            <div class="about-section section-padding dc-two" id="about">
                {% if about_us_section %}
                <div class="container">
                    <div class="row clearfix align-items-center flex-row-reverse justify-content-between">
                        <div class="col-lg-6">
                            {% if about_us_section.media_type == "you_tube_link" %}
                            <div class="video-wrapper">
                                <div class="video-player">
                                    <iframe width="560" height="315" src="{{about_us_section.link}}"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                            {% elif about_us_section.media_type == "video" %}
                            <div class="video-wrapper">
                                <div class="video-player">
                                    <iframe width="560" height="315" src="{{about_us_section.about_us_media}}"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                            {% elif about_us_section.media_type == "image" %}
                            <div class="image-wrapper">
                                <img src="{{ about_us_section.about_us_media.url }}" alt="{{ about_us_section.heading }}" style="width: 100%; height: 100%;">
                            </div>
                            {% endif %}
                        </div><!--* End Col -->
                        <div class="col-lg-5">
                            <div class="heading-wrapper with-separator">
                                <h2 class="h1"><span>{{about_us_section.heading}}</span></h2>
                            </div>
                            <!--* End Heading -->
                            <div class="text-wrapper">
                                <p class="lead-text">{{about_us_section.sub_heading}}</p>
                                <p>{{about_us_section.main_content | linebreaks}}</p>
                            </div>
                            {% comment %} <div class="btn-wrapper">
                                <a class="btn btn-primary" href="#">Discover More</a>
                            </div> {% endcomment %}
                        </div><!--* End Col -->
                    </div><!--* End Row -->
                </div>
                {% endif %}
            </div>
            <!--* End About Section -->
            <!--* Our Approach Section -->
            <div class="fact-section style-dark dark-bg">
                {% if counter_section %}
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-5">
                            <div class="heading-wrapper pt-100 pb-30">
                                <h2 class="h1"> <span>"{{ counter_section.heading }}"</span></h2>
                                <div class="lead-text">
                                    <p>{{counter_section.sub_heading}}</p>
                                </div>
                            </div><!--* End Heading -->
                        </div><!--* End Col -->
                        
                        {% if counter_items %}

                        <div class="col-md-7">
                            <div class="counter-wrapper with-separator two-col-stack">
                                {% for counter in counter_items %}
                                <div class="counter-block with-icon wow fadeIn">
                                    <div class="counter-icon">
                                        <img src="{{counter.counter_icon.url}}" alt="Total Downloads">
                                    </div>
                                    <div class="counter">
                                        <span class="counter-number-prefix"></span>
                                        <span class="counter-number" data-speed="3500" data-stop="{{counter.counter_number}}">0</span>
                                        <span class="counter-number-after"></span>
                                        <span class="counter-number-suffix"></span>
                                    </div>
                                    <div class="counter-title">{{ counter.counter_text }}</div>
                                </div>
                                {% endfor %}
                            </div>
                        </div><!--* End Col -->
                        {% endif %}
                    </div><!--* End Row -->
                </div>
                {% endif %}
            </div>
            <!--* Start Services Section -->
            {% if services_text %}
            <div class="services-section light-gradient-bg section-padding">
                <div class="container">
                    <div class="row clearfix justify-content-center">
                        <div class="col-lg-10">
                            <div class="heading-wrapper text-center with-separator">
                                <h2 class="h1"><span>{{ services_text.heading }}</span></h2>
                                <div class="lead-text">
                                    <p>{{services_text.sub_heading}}</p>
                                </div>
                            </div>
                            <!--* End Heading -->
                        </div><!--* End Col -->
                    </div><!--* End Row -->
                    {% if services_items %}
                    <div class="row clearfix">
                        {% for items in services_items %}
                        <div class="col-lg-4">
                            <div class="icon-box theme-one wow fadeInLeft">
                                <div class="icon">
                                    <img src="{{items.icon.url}}" alt="{{items.title}}" class="img-fluid">
                                </div>
                                <div class="text">
                                    <h4>{{items.title}}</h4>
                                    <p>{{items.content}}</p>
                                </div>
                            </div>
                        </div><!--* End Col -->

                        {% endfor %}
                    </div><!--* End Row -->
                    {% endif %}
                </div>
            </div>
            {% endif %}
            <!--* End Services Section -->
            <!--* Start Features Section -->
            <div class="features-section section-padding style-dark dark-bg gradient-heading-bg dc-two" id="modules">
                {% if features_section %}
                <div class="container">
                    <div class="row justify-content-center clearfix ">
                        <div class="col-lg-8">
                            <div class="heading-wrapper text-center position-relative">
                                <h2 class="h1"><span>{{features_section.heading}}</span></h2>
                                <div class="lead-text">
                                    <p>{{features_section.sub_heading}}</p>
                                </div>
                            </div><!--* End Heading -->
                            <div class="empty-space-60 clearfix"></div>
                        </div><!--* End Col -->
                    </div><!--* End Row -->
                    {% if features_items %}
                    <div class="row clearfix">
                        {% for items in features_items %}
                        <div class="col-lg-4 col-md-6">
                            <div class="features-block theme-two wow fadeInUp">
                                <div class="inner-box">
                                    <div class="text">
                                        <h4>{{items.title}}</h4>
                                        <p>{{items.content}}</p>
                                    </div>
                                </div>
                            </div>
                        </div><!--* End Col -->
                        {%endfor%}
                        
                    </div><!--* End Row -->
                    {%endif%}
                </div>
                {%endif%}
            </div>
            <!--* End Features Section -->
            <!-- Our Team -->
            {% if team_section %}
            <div class="our-team section-padding" id="team">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="heading-wrapper text-center with-separator">
                                <h2 class="h1"><span>{{team_section.heading}}</span></h2>
                                <div class="lead-text">
                                    <p>{{team_section.sub_heading}}</p>
                                </div>
                            </div>
                        </div><!--* End Col -->
                    </div><!--* End Row -->
                    {%if team %}
                    <div class="row our_team">
                        {% for members in team %}
                        <div class="col-lg-3 col-md-6">
                            <div class="st-team-member theme-one wow fadeInUp">
                                <div class="team-member-wrapper">
                                    <div class="st-team-image">
                                        <img src="{{members.image.url}}" alt="{{members.name}}">
                                        {% comment %} <div class="team-social">
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        </div> {% endcomment %}
                                    </div>
                                    <div class="st-team-member-detail">
                                        <h3 class="member-name">{{members.name}}</h3>
                                        <span class="member-position">{{members.designation}}</span>
                                    </div>
                                </div>
                            </div>
                        </div><!--* End Col -->
                        {%endfor%}
                    </div><!--* End Row -->
                    {%endif%}
                </div>
            </div>
            {% endif %}
            <!-- Our Team end -->
            <!--* Start Testimonial Section -->
            {%if testimonial_heading%}
            <div class="testimonial-section style-two section-padding pt-0">
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-lg-8">
                            <div class="heading-wrapper">
                                <h2 class="h1"><span>{{testimonial_heading.heading}}</span></h2>
                                <div class="lead-text">
                                    <p>{{testimonial_heading.sub_heading}}</p>
                                </div>
                            </div><!--* End Heading -->
                        </div><!--* End Col -->
                    </div><!--* End Row -->
                    {% if testimonial_items %}
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div class="client-testimonial theme-two">
                                <div class="testimonial-slider">
                                    {% for testimonial in testimonial_items %}
                                    <div class="item">
                                        <div class="testimonial-text">
                                            <blockquote>
                                                {{testimonial.content}}
                                            </blockquote>
                                            <div class="client-info">
                                                <h5>{{testimonial.name}}</h5>
                                                <p>{{testimonial.designation}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div><!--* End Testimonial Slider -->    
                            </div>
                            
                        </div><!--* End Col -->
                    </div><!--* End Row -->
                    {%endif%}
                </div>
            </div>
            {%endif%}
            <!--* End Testimonial Section -->
            <!--* contact us -->
            {% if settings %}
            <div class="about-section section-padding" id="contact">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-4">
                            <div class="contact-info-box wow fadeInLeft" data-wow-delay="0.8s">
                                <div class="contact-wrapper">
                                    <div class="icon">
                                        <i class="mdi mdi-phone-incoming-outline"></i>
                                    </div>
                                    <div class="content">
                                        <h4>Phone</h4>
                                        <p>Our customer care is open from Mon-Fri, 10:00 am to 7:00 pm</p>
                                        <p><a class="btn link-btn" href="tel:{{settings.phone_number}}">+91 {{settings.phone_number}}</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-info-box wow fadeInLeft" data-wow-delay="1s">
                                <div class="contact-wrapper">
                                    <div class="icon">
                                        <i class="mdi mdi-email-open-outline"></i>
                                    </div>
                                    <div class="content">
                                        <h4>Email</h4>
                                        <p>Our support team will get back to in 24-hrs during standard business hours.</p>
                                        <p><a class="btn link-btn" href="mailto:{{settings.email_address}}">{{settings.email_address}}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div><!--* End Col -->
                        <div class="col-lg-8">
                            <div class="heading-wrapper with-separator">
                                <span class="sub-title">Get in touch</span>
                                <h2 class="h1"><span>Connect</span> with us</h2>
                            </div><!--* End Heading -->
                            <div class="text-wrapper">
                                <p>Please contact us using the details below.</p>
                            </div>
                            <div class="contact-form">
                                <form method="post" action="{% url 'accounts:contact' %}">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="text" name="first_name" class="form-control" id="FiratName"
                                                placeholder="First Name" required="">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" name="last_name" class="form-control" id="LastName"
                                                placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Email Address"
                                            required="">
                                    </div>
                                    <div class="form-group" >
                                        <input type="text" class="form-control" id="subject" name="subject"
                                            placeholder="How can I help you?" required="">
                                    </div>
                                    <div class="form-group" >
                                        <textarea class="form-control" name="message"
                                            placeholder="Tell me more about your requirement">
                                        </textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" value="Send Message">
                                    </div>
                                </form>
                            </div>
                        </div><!--* End Col -->
                    </div><!--* End Row -->
                </div>
            </div><!--* About Section -->
            <div class="map-custom-embed">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3555.96687769453!2d75.7154090244432!3d26.967948207716432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db2d9afae2b33%3A0xd0bf38b1e137a0af!2sParasme%20Software%20%26%20Technology!5e0!3m2!1sen!2sin!4v1737121320518!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div><!--* Map Section -->
        </div>
        <!--* Main Wrapper -->
        <footer class="site-footer footer-theme-two">
            <div class="container-fluid">
                <div class="main-footer style-dark">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="widget">
                                <div class="text-widget">
                                    <div class="about-info">
                                        <div class="image-wrapper">
                                            <img src="{% static 'assets/images/logo-white.png' %}" alt="" class="img-fluid" />
                                        </div>
                                        <p>{{settings.content}}</p>
                                    </div>
                                    <div class="playstore-widget">
                                        <h3>Download the App</h3>
                                        <ul>
                                            <li class="google"><a href="#">Google Play</a></li>
                                            <li class="apple"><a href="#">App Store</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--* End Widget -->
                        </div><!--* End Col -->
                        <div class="col-lg-2">
                            <div class="widget">
                                <div class="widget-title">
                                    <h3 class="title">Useful Links</h3>
                                </div>
                                <div class="text-widget">
                                    <div class="footer-nav">
                                        <ul>
                                            <li><a href="#">RTE Portal (Rajasthan)</a></li>
                                            <li><a href="#">CBSE Website</a></li>
                                            <li><a href="#">End User License Agreement (EULA)</a></li>
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div><!--* End Widget -->
                        </div><!--* End Col -->
                        <div class="col-lg-2">
                            <div class="widget">
                                <div class="widget-title">
                                    <h3 class="title">Support</h3>
                                </div>
                                <div class="text-widget">
                                    <div class="footer-nav">
                                        <ul>
                                            <li><a href="#">RBSE Website</a></li>
                                            <li><a href="#">CBSE Result</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--* End Widget -->
                        </div><!--* End Col -->
                        <div class="col-lg-4">
                            <div class="widget">
                                <div class="widget-title">
                                    <h3 class="title">Stay Updated</h3>
                                </div>
                                <div class="text-widget">
                                    <div class="contact-info">
                                        <ul>
                                            <li class="email-field">{{settings.email_address}}</li>
                                            <li class="phone-field">{{settings.phone_number}}</li>
                                            <li class="address-field">{{settings.address}}</li>
                                        </ul>
                                    </div>
                                    <div class="social-media-links">
                                        <ul>
                                            <li><a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--* End Widget -->
                        </div><!--* End Col -->
                    </div><!--* End Row -->
                </div>
                <div class="copyright-bar style-dark">
                    <div class="copyright-text text-center">
                        © Copyright Scholar byte 2025. Made with <i class="fas fa-heart"></i> by <a
                            href="https://schloarbyte.net/" target="_blank"><strong>schloarbyte</strong></a>.
                    </div>
                </div>
            </div>
        </footer>
        <!--* Main Footer -->
            {%endif%}
    </div>
    <!--* Box-wrapper -->
    <div class="overlay overlay-search">
        <div class="close-search">
            <span class="lines"></span>
        </div>
        <div class="container">
            <form method="post">
                <div class="form-group">
                    <input type="search" class="form-control" name="SearchInput" placeholder="Search…">
                    <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
    <!--* Search-form-->

    <!--* Javascript -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'assets/js/new-bootstrap-bundle.js' %}"></script>
    <script src="{% static 'assets/js/appear.js' %}"></script>
    <script src="{% static 'assets/js/wow-new.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/dcode.js' %}"></script>
    
    
    <script>
        // Wait for the window to load
        window.onload = function() {
            // Hide the preloader
            document.getElementById('preloader').style.display = 'none';
        };
    </script>

    <script type="text/javascript">
        $(document).on('ready', function () {

            $(".our_team").slick({
                dots: false,
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,

                pauseOnHover: true,

                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1,
                            arrows: false,
                            dots: true,
                        }
                    }

                ]


            });
        });
    </script>
    <script>
document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        });
    });
});
    </script>
</body>

</html>